<div id="main">
	<div class="group left half"><%= image_tag("piano.jpg") %></div>
	<div class="group left half"><p id="home-explain"><%= t(:home_about) %></p></div>
	<div class="group left half" id="start-button-wrapper"><div id="get-started"><%= link_to "Get Started", login_path %></div></div>
</div>