<div id="back"><%= link_to "Back to Contact", contact_path %></div>
<div id="page-title"><h1>Edit Contact</h1></div>
<div id="main">
	<%= render :partial => 'form', :locals => { :sid => @sid, :form_name => @form_name } %>
	<div id="destroy">
		<%= link_to 'Delete', contact_path(@contact), :method =>:delete,  data: { :confirm => 'Are you sure? All contact data will be lost!' } %>
	</div>
</div>