<div id="lesson-group">
	<% @lessons.each do |lesson| %>
		<div class="lesson-item">
			<div class="lesson-name lesson-detail"><%= lesson.student.name %></div>
			<div class="lesson-schedule lesson-detail">
				<%= lesson.schedule.in_time_zone(@user.get_user_timezone_code).strftime "%-I:%M%P %B %e, %Y" %>
			</div>
		</div>
	<% end %>
</div>