<h2>Unresolved</h2>
<div class="unresolved-by-lesson">
	<% @lessons.each do |lesson| %>
		<div class="lesson-item">
			<div class="lesson-name lesson-detail">
				<%= link_to lesson_path(lesson.id) do %>
					<%= lesson.student.name %>
				<% end %>
			</div>
			<div class="lesson-schedule lesson-detail">
				<%= lesson.schedule.in_time_zone(@user.get_user_timezone_code).strftime "%-I:%M%P %B %e" %>
			</div>
		</div>
	<% end %>
</div>
